input[id*="answer"] {
  display: none;
}

input[id*="answer"] + label {
  display: block;
  padding: 20px;
  border: 1px solid #d8b734;
  border-bottom: 0;
  color: #000;
  font-weight: 900;
  background: #f7df7d;
  cursor: pointer;
  position: relative;
}

input[id*="answer"] + label em {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  display: inline-block;
  background: url("/arrow.png") 0 0 no-repeat;
}

input[id*="answer"] + label + div {
  max-height: 0;
  transition: all 0.35s;
  overflow: hidden;
  background: #fff;
  font-size: 15px;
}

input[id*="answer"] + label + div p {
  display: inline-block;
  padding: 20px;
  color: black;
}

input[id*="answer"]:checked + label + div {
  max-height: 100px;
}
